@model IEnumerable<TimeSheetApplication.Models.TimeSheetSystem.Employees>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeIntials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupervisorNumber)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorizationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaborGrade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeIntials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorizationCode.AuthCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaborGrade.Grade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
